body {
    background-color: #0D0D0D;
    color: #C0C0C0;
    font-family: 'Courier New', monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 80%;
    max-width: 800px;
    background: #1a1a1a;
    padding: 20px;
    border: 2px solid #2E2E2E;
    border-radius: 10px;
    box-shadow: 0 0 20px #00FF41;
}

textarea,
input {
    width: 100%;
    padding: 10px;
    background: #0D0D0D;
    border: 1px solid #2E2E2E;
    color: #00FF41;
    margin-bottom: 10px;
    font-size: 1em;
}

button {
    padding: 10px 20px;
    margin-right: 10px;
    background: #00FF41;
    color: black;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background: #00cc33;
}

.output {
    margin-top: 20px;
    background: #121212;
    padding: 10px;
    border-left: 5px solid #00FF41;
}

#saveBtn {
    margin-top: 10px;
    background-color: #2E2E2E;
    border: 1px solid #00FF41;
    color: #00FF41;
    padding: 10px 20px;
}

#saveBtn:hover {
    background-color: #00FF41;
    color: black;
}